# Airflow
AIRFLOW_UID=50000
AIRFLOW_DB_USER=airflow
AIRFLOW_DB_PASSWORD=your_airflow_db_password_here
AIRFLOW_DB_NAME=airflow

# Pre-Caps3-Project
PRE_CAPS3_USER=your_project_db_user_here
PRE_CAPS3_PASS=your_project_db_password_here
PRE_CAPS3_DB=your_project_db_name_here